<!-- 
<ul>
    <li *ngFor="let pais of paises">
        {{pais.name}} - {{pais.population | number}}
    </li>
</ul> -->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let cancion of nuevasCanciones" class="col">
      <div class="card">
        <img [src]="cancion.images[0].url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cancion.name}}</h5>
          <p class="card-text">
            <span *ngFor="let artista of cancion.artists" class="badge bg-dark">
                {{artista.name}}
            </span>
          </p>
        </div>
      </div>
    </div>
</div>
