<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      
    </button>
    <a class="navbar-brand" href="#">
        <img src="assets/img/banner-ico.png" width="30" height="30" alt="" srcset="">
        SpotiApp
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="[ 'home' ]" >Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="[ 'search' ]" >Buscar</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
